{{ if $hero_image }}
    <a href="{{ $url }}" class="article-card {{ $featured ? 'article-card--featured' : '' }}">
        <img class="article-card__image" src="{{ glide:hero_image width='1200' height='675' fit='crop_focal' }}" alt="{{ $hero_image:alt }}">
        <div class="article-card__body">
            <time class="article-card__meta" datetime="{{ $date | format('Y-m-d') }}">{{ $date }}</time>
            <h2>{{ $title }}</h2>
            <span class="article-card__cta">Read article ↗</span>
        </div>
    </a>
{{ /if }}
