<article class="site-shell">
    <header class="article-header">
        <p class="eyebrow">Article</p>
        <h1 class="article-title">{{ $title }}</h1>
        {{ if $intro|strip_tags|length }}
        <div class="article-intro">{{ $intro }}</div>
        {{ /if }}
        <time class="article-meta block mt-6" datetime="{{ $date | format('Y-m-d') }}">{{ $date }}</time>
    </header>

    <img class="article-hero" src="{{ $hero_image }}" alt="{{ $hero_image:alt }}">

    <section class="article-content">
        {{ main_content }}
        {{ if $type == "text" }}
        <div class="prose">{{ $text }}</div>
        {{ elseif $type == "code_block" }}
        <pre class="language-{{ $mode ?? 'php' }} rounded"><code>{{ $code }}</code></pre>
        {{ elseif $type == "image" }}
        <figure>
            <img src="{{ $image }}" alt="{{ $caption }}">
            <figcaption>{{ $caption }}</figcaption>
        </figure>
        {{ /if }}
        {{ /main_content }}
    </section>

    <div class="author-strip">
        <div class="author-strip__person">
            {{ if $author }}
            <img src="{{ $author:avatar ?? $author:email | gravatar(160) }}" alt="">
            {{ /if }}
            <div>
                {{ if author }}
                <a class="font-bold" href="/authors/{{ $author:handle }}">{{ $author:name }}</a>
                {{ /if }}
                <time class="block" datetime="{{ $date | format('Y-m-d') }}">{{ $date }}</time>
            </div>
        </div>
        <div>
            <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="jamesnock" data-color="#FFD84D" data-emoji="" data-font="Inter" data-text="Buy me a coffee" data-outline-color="#101B2D" data-font-color="#101B2D" data-coffee-color="#101B2D"></script>
        </div>
    </div>

    {{ if $settings:show_signup }}
    {{ partial:sign-up }}
    {{ /if }}
</article>
