<article class="site-shell py-16 lg:py-24">
    {{ user:profile field="handle" :value="segment_2" }}
    <header class="page-header">
        <p class="eyebrow">Written by</p>
        <h1 class="page-title">{{ $name }}</h1>
    </header>

    <section class="py-6">
        {{ collection:blog as="results" :author:is="id" }}
            {{ if ! results }}
                <h2>{{ $name }} hasn't written any articles.</h2>
            {{ else }}
            <div class="article-grid py-8">
                {{ results }}
                    {{ partial:blog/card }}
                {{ /results }}
            </div>
            {{ /if }}
        {{ /collection:blog }}
    </section>
    {{ /user:profile }}
</article>
